version: '3.8'

services:
  web-app:
    build:
      context: ./web-app
      dockerfile: Dockerfile
    container_name: infinite-schrodinger-web
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/infinite_schrodinger?schema=public
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET=supersecret
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: infinite-schrodinger-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: infinite_schrodinger
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
